{% extends "base.html" %}

{% block body_extra %}{% endblock %}

{% block page_content %}
<div id="detached-topbar-placeholder"></div>

<!-- Begin page -->
<div class="wrapper">

  {% include 'partials/left-sidebar.html' %}
  <!--<div id="vertical-sidebar-placeholder"></div>-->
  <!--<div id="detached-sidebar-placeholder"></div>-->
  <!-- ============================================================== -->
  <!-- Start Page Content here -->
  <!-- ============================================================== -->

  <div class="content-page">
    <div class="content">
      {% block topbar %}
      {% include 'partials/topbar.html' %}
      <!--<div id="vertical-topbar-placeholder"></div>-->
      <!--<div id="horizontal-topbar-placeholder"></div>-->
      {% endblock %}

      {% block content %}{% endblock %}
    </div>
    <!-- content -->
    {% block footer %}
    {% include 'partials/footer.html' %}
    {% endblock %}
  </div>

  <!-- ============================================================== -->
  <!-- End Page content -->
  <!-- ============================================================== -->
</div>
<!-- END wrapper -->


<!--{% block right_sidebar %}-->
  <!--{% include 'partials/right-sidebar.html' %}-->
<!--{% endblock %}-->

{% endblock %}

