{% load static i18n %}
{% load static %}

<!--- Sidemenu -->
<ul class="metismenu side-nav">
  <li class="side-nav-title side-nav-item">{% trans 'Navigation' %}</li>

  <li class="side-nav-item {% if request.resolver_match.url_name in "ecommerce,crm,projects" %}active{% endif %}">
    <a href="javascript: void(0);" class="side-nav-link">
      <i class="dripicons-meter"></i>
      <span class="badge badge-success float-right">3</span>
      <span> Dashboards </span>
    </a>
    <ul class="side-nav-second-level" aria-expanded="false">
      <li class="{% if request.resolver_match.url_name == "ecommerce" %}active{% endif %}">
        <a href="{% url 'dashboard:ecommerce' %}">ECommerce</a>
      </li>
      <li class="{% if request.resolver_match.url_name == "crm" %}active{% endif %}">
        <a href="{% url 'dashboard:crm' %}">CRM</a>
      </li>
    </ul>
  </li>

  <li class="side-nav-item">
    <a href="javascript: void(0);" class="side-nav-link">
      <i class="dripicons-copy"></i>
      <span> Pages </span>
      <span class="menu-arrow"></span>
    </a>
    <ul class="side-nav-second-level" aria-expanded="false">
      <li class="{% if request.resolver_match.url_name == 'other-starter' %}active{% endif %}">
        <a href="{% url 'pages:other-starter' %}">Starter Page</a>
      </li>
      <li class="{% if request.resolver_match.url_name == 'other-maintenance' %}active{% endif %}">
        <a href="{% url 'pages:other-maintenance' %}">Maintenance</a>
      </li>
    </ul>
  </li>


  <li class="side-nav-title side-nav-item mt-1">Components</li>

  <li
    class="side-nav-item {% if request.resolver_match.url_name in "card,button,modal,tab,notification,grid,general,typography,icons,spinner,dragula" %}active{% endif %}">
    <a href="javascript: void(0);" class="side-nav-link">
      <i class="dripicons-briefcase"></i>
      <span> UI Kit </span>
      <span class="menu-arrow"></span>
    </a>
    <ul
      class="side-nav-second-level {% if request.resolver_match.url_name in "card,button,modal,tab,notification,grid,general,typography,icons,spinner,dragula" %}in{% endif %}"
      aria-expanded="false">
      <li class="{% if request.resolver_match.url_name == "card" %}active{% endif %}">
        <a href="{% url 'pages:card' %}">Cards</a>
      </li>
      <li class="{% if request.resolver_match.url_name == "button" %}active{% endif %}">
        <a href="{% url 'pages:button' %}">Buttons</a>
      </li>
      <li class="{% if request.resolver_match.url_name == "modal" %}active{% endif %}">
        <a href="{% url 'pages:modal' %}">Modals</a>
      </li>
      <li class="{% if request.resolver_match.url_name == "tab" %}active{% endif %}">
        <a href="{% url 'pages:tab' %}">Tabs</a>
      </li>
      <li class="{% if request.resolver_match.url_name == "notification" %}active{% endif %}">
        <a href="{% url 'pages:notification' %}">Notifications</a>
      </li>
      <li class="{% if request.resolver_match.url_name == "grid" %}active{% endif %}">
        <a href="{% url 'pages:grid' %}">Grid</a>
      </li>
      <li class="{% if request.resolver_match.url_name == "general" %}active{% endif %}">
        <a href="{% url 'pages:general' %}">General</a>
      </li>
      <li class="{% if request.resolver_match.url_name == "typography" %}active{% endif %}">
        <a href="{% url 'pages:typography' %}">Typography</a>
      </li>
      <li class="{% if request.resolver_match.url_name == "icons" %}active{% endif %}">
        <a href="{% url 'pages:icons' %}">Icons</a>
      </li>
      <li class="{% if request.resolver_match.url_name == "spinner" %}active{% endif %}">
        <a href="{% url 'pages:spinner' %}">Spinners</a>
      </li>
      <li class="{% if request.resolver_match.url_name == "dragula" %}active{% endif %}">
        <a href="{% url 'pages:dragula' %}">Dragula</a>
      </li>
    </ul>
  </li>

  <li class="side-nav-item {% if request.resolver_match.url_name == 'widget' %}active{% endif %}">
    <a href="{% url 'pages:widget' %}" class="side-nav-link">
      <i class="dripicons-heart"></i>
      <span class="badge badge-light float-right">New</span>
      <span> Widgets </span>
    </a>
  </li>

  <li class="side-nav-item {% if request.resolver_match.url_name in 'form-basic' %}active{% endif %}">
    <a href="javascript: void(0);" class="side-nav-link">
      <i class="dripicons-document"></i>
      <span> Forms </span>
      <span class="menu-arrow"></span>
    </a>
    <ul class="side-nav-second-level {% if request.resolver_match.url_name in 'form-basic' %}in{% endif %}"
      aria-expanded="false">
      <li class="{% if request.resolver_match.url_name == 'form-basic' %}active{% endif %}">
        <a href="{% url 'pages:form-basic' %}">Basic Elements</a>
      </li>
      <li class="{% if request.resolver_match.url_name == 'form-advanced' %}active{% endif %}">
        <a href="{% url 'pages:form-advanced' %}">Form Advanced</a>
      </li>
      <li class="{% if request.resolver_match.url_name == 'form-validation' %}active{% endif %}">
        <a href="{% url 'pages:form-validation' %}">Form Validation</a>
      </li>
      <li class="{% if request.resolver_match.url_name == 'form-wizard' %}active{% endif %}">
        <a href="{% url 'pages:form-wizard' %}">Form Wizard</a>
      </li>
      <li class="{% if request.resolver_match.url_name == 'form-upload' %}active{% endif %}">
        <a href="{% url 'pages:form-upload' %}">File Uploads</a>
      </li>
    </ul>
  </li>

  <li class="side-nav-item">
    <a href="javascript: void(0);" class="side-nav-link">
      <i class="dripicons-graph-pie"></i>
      <span> Charts </span>
      <span class="menu-arrow"></span>
    </a>
    <ul class="side-nav-second-level" aria-expanded="false">
      <li class="{% if request.resolver_match.url_name == 'chart-apex' %}active{% endif %}">
        <a href="{% url 'pages:chart-apex' %}">Apex Charts</a>
      </li>
      <li class="{% if request.resolver_match.url_name == 'chart-brite' %}active{% endif %}">
        <a href="{% url 'pages:chart-brite' %}">Britecharts</a>
      </li>
      <li class="{% if request.resolver_match.url_name == 'chart-chartjs' %}active{% endif %}">
        <a href="{% url 'pages:chart-chartjs' %}">Chart JS</a>
      </li>
    </ul>
  </li>

  <li class="side-nav-item">
    <a href="javascript: void(0);" class="side-nav-link">
      <i class="dripicons-list"></i>
      <span> Tables </span>
      <span class="menu-arrow"></span>
    </a>
    <ul class="side-nav-second-level" aria-expanded="false">
      <li class="{% if request.resolver_match.url_name == 'table-basic' %}active{% endif %}">
        <a href="{% url 'pages:table-basic' %}">Basic Tables</a>
      </li>
      <li class="{% if request.resolver_match.url_name == 'table-datatable' %}active{% endif %}">
        <a href="{% url 'pages:table-datatable' %}">Datatables Tables</a>
      </li>
    </ul>
  </li>

  <li class="side-nav-item {% if request.resolver_match.url_name == 'map-google' %}active{% endif %}">
    <a href="{% url 'pages:map-google' %}" class="side-nav-link">
      <i class="dripicons-location"></i>
      <span> Google Maps </span>
    </a>
  </li>

</ul>